<!-- wp:template-part {"slug":"header","theme":"no-code-theme","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40","left":"var:preset|spacing|80","right":"var:preset|spacing|80"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:var(--wp--preset--spacing--40);padding-right:var(--wp--preset--spacing--80);padding-bottom:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--80)"><!-- wp:query-title {"type":"archive","showPrefix":false,"align":"wide","style":{"elements":{"link":{"color":{"text":"var:preset|color|grey"}}}},"textColor":"grey"} /-->

	<!-- wp:columns {"align":"wide","style":{"spacing":{"padding":{"right":"0","left":"0"}}},"blockVisibility":{"controlSets":[{"id":1,"enable":true,"controls":{"screenSize":{"hideOnScreenSize":{"medium":true,"small":true}}}}]}} -->
	<div class="wp-block-columns alignwide" style="padding-right:0;padding-left:0"><!-- wp:column {"width":"20%","style":{"elements":{"link":{"color":{"text":"var:preset|color|grey"}}},"spacing":{"padding":{"right":"0","left":"0","top":"0","bottom":"0"}}},"textColor":"grey","layout":{"type":"default"}} -->
	<div class="wp-block-column has-grey-color has-text-color has-link-color" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;flex-basis:20%"><!-- wp:heading {"lock":{"remove":true},"style":{"typography":{"fontStyle":"normal","fontWeight":"400"},"spacing":{"padding":{"right":"0","left":"0"}}},"fontSize":"medium","blockVisibility":{"hideBlock":false,"controlSets":[{"id":1,"enable":true,"controls":{"screenSize":{"hideOnScreenSize":{"medium":false,"small":false}}}}]}} -->
	<h2 class="wp-block-heading has-medium-font-size" style="padding-right:0;padding-left:0;font-style:normal;font-weight:400">Categories</h2>
	<!-- /wp:heading -->
	
	<!-- wp:woocommerce/product-categories {"hasCount":false,"lock":{"remove":true},"style":{"typography":{"fontSize":"15px"}}} /-->
	
	<!-- wp:woocommerce/filter-wrapper {"filterType":"price-filter","heading":"Filter by price","lock":{"remove":true}} -->
	<div class="wp-block-woocommerce-filter-wrapper"><!-- wp:woocommerce/price-filter {"inlineInput":true,"heading":"","lock":{"remove":true}} -->
	<div class="wp-block-woocommerce-price-filter is-loading"><span aria-hidden="true" class="wc-block-product-categories__placeholder"></span></div>
	<!-- /wp:woocommerce/price-filter --></div>
	<!-- /wp:woocommerce/filter-wrapper --></div>
	<!-- /wp:column -->
	
	<!-- wp:column {"width":"80%","style":{"elements":{"link":{"color":{"text":"var:preset|color|grey"}}}},"textColor":"grey"} -->
	<div class="wp-block-column has-grey-color has-text-color has-link-color" style="flex-basis:80%"><!-- wp:group {"align":"wide","style":{"typography":{"fontSize":"15px"}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group alignwide" style="font-size:15px"><!-- wp:woocommerce/breadcrumbs {"style":{"typography":{"fontSize":"17px"}},"blockVisibility":{"controlSets":[{"id":1,"enable":true,"controls":{"screenSize":[]}}]}} /--></div>
	<!-- /wp:group -->
	
	<!-- wp:group {"align":"wide","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"},"blockVisibility":{"controlSets":[{"id":1,"enable":true,"controls":[]}]}} -->
	<div class="wp-block-group alignwide"><!-- wp:woocommerce/product-results-count /-->
	
	<!-- wp:woocommerce/catalog-sorting /--></div>
	<!-- /wp:group -->
	
	<!-- wp:woocommerce/product-collection {"queryId":15,"query":{"perPage":9,"pages":0,"offset":0,"postType":"product","order":"asc","orderBy":"title","search":"","exclude":[],"inherit":true,"taxQuery":[],"isProductCollectionBlock":true,"featured":false,"woocommerceOnSale":false,"woocommerceStockStatus":["instock","outofstock","onbackorder"],"woocommerceAttributes":[],"woocommerceHandPickedProducts":[],"filterable":false,"relatedBy":{"categories":true,"tags":true}},"tagName":"div","displayLayout":{"type":"flex","columns":4,"shrinkColumns":true},"dimensions":{"widthType":"fill"},"queryContextIncludes":["collection"],"__privatePreviewState":{"isPreview":false,"previewMessage":"Actual products will vary depending on the page being viewed."},"align":"wide","layout":{"type":"constrained"}} -->
	<div class="wp-block-woocommerce-product-collection alignwide"><!-- wp:woocommerce/product-template -->
	<!-- wp:woocommerce/product-image {"imageSizing":"thumbnail","isDescendentOfQueryLoop":true} /-->
	
	<!-- wp:post-title {"textAlign":"center","level":3,"isLink":true,"style":{"spacing":{"margin":{"bottom":"0.75rem","top":"0"}}},"fontSize":"medium","__woocommerceNamespace":"woocommerce/product-collection/product-title"} /-->
	
	<!-- wp:woocommerce/product-price {"isDescendentOfQueryLoop":true,"textAlign":"center","fontSize":"small"} /-->
	
	<!-- wp:woocommerce/product-button {"textAlign":"center","isDescendentOfQueryLoop":true,"fontSize":"small"} /-->
	<!-- /wp:woocommerce/product-template -->
	
	<!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"center"}} -->
	<!-- wp:query-pagination-previous /-->
	
	<!-- wp:query-pagination-numbers /-->
	
	<!-- wp:query-pagination-next /-->
	<!-- /wp:query-pagination -->
	
	<!-- wp:woocommerce/product-collection-no-results -->
	<!-- wp:group {"layout":{"type":"flex","orientation":"vertical","justifyContent":"center","flexWrap":"wrap"}} -->
	<div class="wp-block-group"><!-- wp:paragraph {"fontSize":"medium"} -->
	<p class="has-medium-font-size"><strong>No results found</strong></p>
	<!-- /wp:paragraph -->
	
	<!-- wp:paragraph -->
	<p>You can try <a class="wc-link-clear-any-filters" href="#">clearing any filters</a> or head to our <a class="wc-link-stores-home" href="#">store's home</a></p>
	<!-- /wp:paragraph --></div>
	<!-- /wp:group -->
	<!-- /wp:woocommerce/product-collection-no-results --></div>
	<!-- /wp:woocommerce/product-collection --></div>
	<!-- /wp:column --></div>
	<!-- /wp:columns --></main>
	<!-- /wp:group -->
	
	<!-- wp:template-part {"slug":"footer","theme":"no-code-theme","tagName":"footer","className":"site-footer"} /-->