<!-- wp:template-part {"slug":"header","theme":"no-code-theme"} /-->

<!-- wp:post-featured-image /-->

<!-- wp:post-title {"level":1,"style":{"spacing":{"padding":{"right":"var:preset|spacing|80","left":"var:preset|spacing|80"}}}} /-->

<!-- wp:post-content /-->

<!-- wp:heading -->
<h2 class="wp-block-heading">Latest posts</h2>
<!-- /wp:heading -->

<!-- wp:latest-posts {"postsToShow":2,"displayPostContent":true,"postLayout":"grid","columns":2,"displayFeaturedImage":true,"addLinkToFeaturedImage":true,"style":{"spacing":{"padding":{"right":"var:preset|spacing|80","left":"var:preset|spacing|80"}}}} /-->

<!-- wp:template-part {"slug":"footer","theme":"no-code-theme","area":"footer"} /-->